.favourites-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.fav-recipe-card{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    padding: 10px 20px;
    background-color: #FAF1E6;
    border-radius: 5px;
}

.fav-recipe-card-header{
    display: flex;
    flex-direction: row;
}

.fav-recipe-card-header img{
    border-radius: 5px;
    margin-right: 10px;
}

.fav-recipe-card-content{
    text-align: left;
    flex-grow: 1;
}

.fav-recipe-card-content h4{
    font-size: 15px;
}

.fav-recipe-card-title-date small{
    font-size: 12px;
    color: rgb(75, 75, 75);
}

.fav-recipe-card-content p{
    text-align: left;
    font-size: 13px;
    line-height: 17px;
    margin: 5px 0px;
}

.fav-recipe-card-steps ul li{
    font-size: 13px;
}

.fav-recipe-card-remove-btn{
    margin-left: 10px;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.fav-recipe-card-remove-btn button{
    color: rgb(255, 70, 70);
    font-size: 15px;
    padding: 0px 4px;
    align-items: center;
    justify-content: center;
    justify-items: center;
    background-color: #FAF1E6;
    border-radius: 5px;
    border: none;
}

@media (max-width:600px) {
    .user-favourites-component{
        margin: 10px;
    }

    .user-favourites-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .favourites-list{
        display: flex;
        flex-direction: column;
    }

    .fav-recipe-card{
        display: flex;
        flex-direction: row;
        margin: 5px;
    }

    .fav-recipe-card-content h4{
        font-size: 13px;
        
    }

    .fav-recipe-card-content p{
        font-size: 11px;
        line-height: 15px;
    }

    .fav-recipe-card-remove-btn{
        margin-left: 5px;
    }
}

@media (min-width:600px) and (max-width: 1000px) {
    .user-favourites-component{
        margin: 15px;
    }

    .user-favourites-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .favourites-list{
        grid-template-columns: repeat(2, 1fr);
    }

    .fav-recipe-card{
        display: flex;
        flex-direction: row;
    }

    .fav-recipe-card-content h4{
        font-size: 13px;
    }

    .fav-recipe-card-content p{
        font-size: 12px;
        line-height: 16px;
    }

    .fav-recipe-card-remove-btn{
        margin-left: 5px;
    }
}

@media (min-width: 1000px) and (max-width: 1300px) {
    .user-preferences-component, .user-favourites-component, .user-search-history-component{
        margin: 20px;
    }

    .user-preferences-component h2, .user-favourites-component h2, .user-search-history-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
    }

    .fav-recipe-card{
        display: flex;
        flex-direction: row;
    }

    .fav-recipe-card-content h4{
        font-size: 13px;
    }

    .fav-recipe-card-content p{
        font-size: 12px;
        line-height: 16px;
    }

    .fav-recipe-card-remove-btn{
        margin-left: 5px;
    }
}