.user-dashboard-component{
    margin: 10px 100px;
    border-radius: 5px;
    padding: 20px 10px;
}

.user-dashboard-header{
    background-color: #C9A66B;
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.user-dashboard-header h2 {
    flex-grow: 1; 
    text-align: center;
    position: relative;
    z-index: 1;
}

.user-profile-link{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.user-profile-info{
    text-align: left;
    margin-left: 10px;
}

.dashboard-content{
    display: flex;
}

.dashboard-links{
    background-color: #C9A66B;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 5px;
    width: 250px;
    padding: 20px;
}

.dashboard-links button{
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #8B4513;
    font-size: 14px;
    font-weight: 600;
    background-color: #FAF1E6;
}

.dashboard-links button:hover{
    background-color: #ffedd9;
    transition: 0.5s ease-in;
}

.selected-dashboard-link{
    /* background-color: #FAF1E6; */
    background-color: #C9A66B;
    flex-grow: 1;
    border-radius: 5px;
    padding: 20px 30px;
}

.user-preferences-component, .user-favourites-component, .user-search-history-component{
    margin: 10px;
}

.user-preferences-component h2, .user-favourites-component h2, .user-search-history-component h2{
    margin-bottom: 20px;
}

.dashboard-sidebar-icon{
    margin-right: 10px;
}

.dashboard-links button.active{
    background: linear-gradient(90deg, #5A2D0C, #b17a54, #C9A66B);
    color: #FAF1E6;
    font-weight: bold;
    transition: 0.7s ease-in-out;
}

.dashboard-sidebar-icon{
    color: #8B4513; 
    font-size: 15px;
}

.dashboard-links button.active .dashboard-sidebar-icon, .user-library-links button.active .library-links-icon, .user-profile-links button.active .profile-links-icon {
    color: #FAF1E6; 
    font-size: 15px;
}

@keyframes shimmer {
    0% {
        background-position: -400px 0; /* Start gradient off-screen left */
    }
    100% {
        background-position: 400px 0; /* Move gradient off-screen right */
    }
}

.dashboard-section-load-message {
    font-size: 17px;
    font-weight: 600;
    background: linear-gradient(90deg, #8B4513 0%, #E5C494 35%, #8B4513 70%);
    background-size: 400px 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: shimmer 9.5s infinite linear;
}

@media (max-width:600px) {
    .user-dashboard-component{
        margin: 0px 15px;
        padding: 20px 0px;
    }

    .user-dashboard-component h1{
        font-weight: 500;
        font-size: 25px;
    }

    .user-dashboard-header{
        margin-bottom: 20px;
        padding: 10px;
    }

    .user-dashboard-header h2 {
        text-align: left;
        margin-left: 20px;
    }

    .user-profile-link{
        right: 5px;
        font-size: 11px;
    }

    .user-profile-info{
        text-align: left;
        margin-left: 10px;
    }

    .dashboard-content{
        display: flex;
        flex-direction: column;
    }

    .dashboard-links{
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 0;
        align-items: center;
        justify-content: center;
        justify-items: center;
        width: 100%;
        padding: 10px;
        z-index: 1000;
    }

    .dashboard-links button{
        margin: 10px 5px;
        border-radius: 5px;
        padding: 10px 2px;
        font-size: 13px;
        font-weight: 500;
        flex: 1;
    }

    .selected-dashboard-link{
        border-radius: 5px;
        margin: 0px 0px 70px;
        flex: 1;
    }

    .dashboard-sidebar-icon{
        margin-right: 1px;
    }

    .user-preferences-component, .user-favourites-component, .user-search-history-component{
        margin: 10px;
    }

    .user-preferences-component h2, .user-favourites-component h2, .user-search-history-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .dashboard-section-load-message {
        font-size: 14px;
    }
}

@media (min-width:600px) and (max-width: 900px) {
    .user-dashboard-component{
        margin: 10px 30px;
        padding: 20px 0px;
    }

    .dashboard-content{
        display: flex;
        flex-direction: column;
    }

    .dashboard-links{
        position: fixed;
        bottom: 0;
        left: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: space-around;
        margin: 0;
        width: 100%;
        padding: 10px;
        z-index: 1000;
    }

    .dashboard-links button{
        margin: 10px 20px;
        border-radius: 5px;
        padding: 10px 20px;
        font-weight: 500;
        flex: 1;
    }

    .selected-dashboard-link{
        border-radius: 5px;
        margin: 10px 0px 60px;
        flex: 1;
    }

    .user-preferences-component, .user-favourites-component, .user-search-history-component{
        margin: 15px;
    }

    .user-preferences-component h2, .user-favourites-component h2, .user-search-history-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 20px;
    }

    .dashboard-section-load-message {
        font-size: 15px;
    }
}

@media (min-width: 900px) and (max-width: 1300px) {
    .user-dashboard-component{
        margin: 20px;
        padding: 20px 0px;
    }

    .dashboard-links{
        width: 220px;
    }

    .dashboard-links button{
        margin: 20px 0px;
        padding: 10px;
    }

    .user-preferences-component, .user-favourites-component, .user-search-history-component{
        margin: 20px;
    }

    .user-preferences-component h2, .user-favourites-component h2, .user-search-history-component h2{
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 22px;
    }
}