@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

.navbar{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding: 10px 50px;
    background-color: #FAF1E6;
}

.navbar-logo{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.navbar-logo img{
    height: 40px;
}

.navbar-logo h3{
    font-family: "Fredoka", sans-serif;
    font-weight: 600;
    font-size: 25px;
    margin-left: 10px;
}

.navbar-links{
    margin-left: 200px;
}

.navbar-links a{
    margin: 0px 30px;
    font-weight: 600;
}

.navbar-links button{
    font-weight: 600;
    background-color: #FAF1E6;
    border: none;
    font-size: 15px;
    margin-left: 30px;
}

.navbar-links a:hover, .navbar-links button:hover{
    color: #8B4513;
    transition: 0.5s ease-in;
}

.btn-group, .btn-group button{
    display: none;
}

@media (max-width: 600px) {
    .navbar{
        padding: 10px 30px;
        justify-content: space-between;
    }

    .navbar-logo h3{
        font-size: 17px;
        margin-left: 10px;
    }

    .navbar-links, .navbar-links a{
        display: none;
    }

    .btn-group{
        display: block;
        margin-left: 80px;
    }

    .btn-group .btn {
        background-color: #8B4513;
        border: none;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
        color: #FAF1E6;
    }

    /* Make dropdown links vertical */
    .mobile-dropdown {
        display: flex;
        flex-direction: column;
        min-width: 150px;
    }

    .mobile-dropdown .dropdown-item {
        font-size: 14px;
        padding: 10px 15px;
    }

    .dropdown-menu{
        display: block;
    }

    .btn-group button{
        display: block;
        color: #FAF1E6;
        background-color: #8B4513;
        border: none;
        font-size: 14px;
        padding: 5px 10px;
        border-radius: 5px;
    }

    .dropdown-menu-end a{
        margin: 10px 0px;
        font-size: 14px;
    }

}

@media (min-width: 600px) and (max-width: 860px) {
    .navbar{
        padding: 10px 40px;
    }

    .navbar-logo img{
        height: 30px;
    }

    .navbar-logo h3{
        font-size: 19px;
        margin-left: 10px;
    }

    .navbar-links{
        margin-left: 80px;
    }

    .navbar-links a, .navbar-links button{
        margin: 0px 25px;
        font-size: 15px;
        text-decoration: underline;
    }
}