.user-profile-links{
  align-items: center;
  justify-content: center;
}

.user-profile-links button{
    margin: 10px 30px;
    border-radius: 10px;
    padding: 10px 40px;
    border: 1px solid #8B4513;
    font-size: 14px;
    background-color: #FAF1E6;
}

.user-profile-links button:hover{
    background-color: #ffedd9;
    transition: 0.5s ease-in;
}

.profile-links-icon{
    margin-right: 10px;
    color: #8B4513; 
    font-size: 15px;
}

.user-profile-links button.active {
    background: linear-gradient(90deg, #5A2D0C, #b17a54, #C9A66B);
    color: #FAF1E6;
    font-weight: bold;
    transition: 0.7s ease-in-out;
}

@media (max-width:600px) {
  .user-profile-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .user-profile-links button{
    margin: 5px;
    padding: 1px;
    font-size: 13px;
  }

  .profile-links-icon{
    margin-right: 5px;
    font-size: 13px;
  }
}

@media (max-width:600px) and (max-width:1000px) {
  .user-profile-links {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .user-profile-links button{
    padding: 10px;
  }
}